<div class="col-sm-6 col-sm-offset-3">
    <div class="well" ng-controller="cmsController">
        <h3>Data</h3>
        <button class="btn btn-primary" ng-click="getBlogs()">Get blog data!</button>
        <ul class="list-group" ng-if="blogs">
            <li class="list-group-item" ng-repeat="blog in blogs.data">
                <h4>{{blog.title}}</h4>
                <h5>{{blog.body}}</h5>
            </li>
        </ul>
        <div class="alert alert-danger" ng-if="blogs.error">
            <strong>There was an error: </strong> {{blogs.error}}
            <br>Please go back and login again
        </div>
    </div>
</div>